---
BasedOnStyle: Google
Language: Cpp
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: TopLevel
BreakBeforeBraces: Stroustrup
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: false
SortUsingDeclarations: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignConsecutiveMacros: true
ColumnLimit: 79
ReflowComments: true
SpaceBeforeParens: ControlStatements
...
