[run]
source = drizzle

omit =
    drizzle/__init__*
    drizzle/**/conftest.py
    drizzle/**/setup*
    drizzle/**/tests/*
    drizzle/version*
    drizzle/_version.py
    */drizzle/__init__*
    */drizzle/**/conftest.py
    */drizzle/**/setup*
    */drizzle/**/tests/*

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about packages we have installed
    except ImportError

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain about script hooks
    'def main(.*):'

    # Ignore branches that don't pertain to this version of Python
    pragma: py{ignore_python_version}
