[flake8]
max-line-length = 100
select = F, W, E, C
ignore =
    # Line break occurred before a binary operator
    W503,
    # Line break occurred after a binary operator
    W504,
exclude =
    docs,
    build
    .eggs,
    .tox,
