name: CI

on:
  push:
    branches: 
      - master
      - '*.x'
    tags: 
      - "*"
  pull_request:
  schedule:
    - cron: '0 6 * * 1'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: check-style
        - linux: check-security
        - linux: build-dist
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      envs: |
        - linux: test-xdist
          python-version: 3.8
        - linux: test-xdist
          python-version: 3.9
        - linux: test-xdist
          python-version: 3.10
        - linux: test-xdist
          python-version: 3.11
        - macos: test-xdist
          python-version: 3.11
        - linux: test-devdeps-xdist
        - linux: test-xdist-cov
          coverage: codecov
