name: CI

on:
  push:
    branches: 
      - master
      - '*.x'
    tags: 
      - "*"
  pull_request:
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'

jobs:
  tox:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include: 
          - name: Python 3.10 Tests
            python-version: '3.10'
            os: ubuntu-latest
            toxenv: py310

          - name: Python 3.9 with Code Coverage
            python-version: 3.9
            os: ubuntu-latest
            toxenv: py39-cov

          - name: Python 3.9 with Development Dependencies
            python-version: 3.9
            os: ubuntu-latest
            toxenv: py39-devdeps

          - name: Python 3.8
            python-version: 3.8
            os: ubuntu-latest
            toxenv: py38

          - name: Code Style Checks
            python-version: 3.9
            os: ubuntu-latest
            toxenv: codestyle

          - name: Security Check
            python-version: 3.9
            os: ubuntu-latest
            toxenv: bandit

          - name: Build documentation
            python-version: 3.9
            os: ubuntu-latest
            toxenv: build-docs

    steps:
      - name: Install extra system packages
        if: ${{ contains(matrix.toxenv,'docs') }}
        run: |
          sudo apt-get install graphviz texlive-latex-extra dvipng

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install tox
        run: |
          python -m pip install tox

      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}

      - name: Upload Code Coverage
        if: ${{ contains(matrix.toxenv,'-cov') }}
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
