name: Drizzle Package CI

on:
  push:
    branches: 
      - master
    tags: 
      - "*"
  pull_request:
    branches:
  schedule:
    # Run every Monday at 6am UTC
    - cron: '0 6 * * 1'

jobs:
  tox_pytest:
    name: ${{ matrix.name }} 
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include: 
          - name: Python 3.9 with Code Coverage
            python-version: "3.9"
            os: ubuntu-latest
            dependencies: 
            toxenv: py39-cov

          - name: Python 3.9 with Development Dependencies
            python-version: "3.9"
            os: ubuntu-latest
            dependencies: 
            toxenv: py39-devdeps

          - name: Python 3.8
            python-version: "3.8"
            os: ubuntu-latest
            dependencies: 
            toxenv: py38-test

          - name: Python 3.7
            python-version: "3.7"
            os: ubuntu-latest
            dependencies: 
            toxenv: py37-test

          - name: Code Style Checks
            python-version: "3.9"
            os: ubuntu-latest
            dependencies: 
            toxenv: codestyle

          - name: Bandit Checks
            python-version: "3.9"
            os: ubuntu-latest
            dependencies: 
            toxenv: bandit

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: |
          python -m pip install tox
      - name: Run tox
        run: tox -e ${{ matrix.toxenv }}
      - name: Upload Code Coverage
        if: ${{ contains(matrix.toxenv,'-cov') }}
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml

  doc_build:
    name: Document Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        sudo apt-get install graphviz texlive-latex-extra dvipng
        python -m pip install --upgrade pip
        python -m pip install -e .[docs]
    - name: Build documents with sphinx
      run: |
        cd docs
        sphinx-build . ./_build

