name: Drizzle Package Continuous Integration

on:
  push:
    branches: 
      - master
    tags: 
      - "*"
  pull_request:
    branches:

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Python 3.9 Test
            pyver: 3.9
            dependencies: 

          - name: Old Dependencies
            pyver: 3.6.10
            dependencies: |
              python -m pip install numpy~=1.16.0

          - name: Development Build
            pyver: 3.9
            dependencies: |
              python -m pip install -i https://pypi.anaconda.org/scipy-wheels-nightly/simple --pre -I numpy
              python -m pip install git+https://github.com/astropy/astropy
    steps:
    - uses: actions/checkout@v2
    - name: ${{ matrix.name }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.pyver }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test]
        ${{ matrix.dependencies }}
    - name: Test with Pytest
      run: |
        pytest

  doc_build:
    name: Document Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        sudo apt-get install graphviz texlive-latex-extra dvipng
        python -m pip install --upgrade pip
        python -m pip install -e .[docs]
    - name: Build documents with sphinx
      run: |
        cd docs
        sphinx-build . ./_build

  lint:
    name: Lint with flake8
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8
    - name: Run flake8
      run: |
        flake8 drizzle --count --show-source --statistics

  code_coverage:
    name: Code Coverage Report
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test]
        python -m pip install pytest-cov
    - name: Test with pytest and code coverage
      run: |
        pytest --cov-report=xml --cov=. --cov-config=.cfg
    - name: Upload coverage to codecoverage
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unit
